body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
  }
  
  #slider-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  #image-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%; /* Each slide takes 100% of container width */
  }
  
  #prev, #next {
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    outline: none;
    margin-top: 5%;
  }
  